body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color:#434455;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #2E2F42;
}
img {
    display: block;
}
.container {
    max-width: 1440px;;
    margin: 0 auto;
    padding-left: 156px;
    padding-right: 156px;
}

.main-header .container {
    border-bottom: 1px solid#E7E9FC ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navi .logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.166;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.navi {
    display: flex;
    flex-direction: row;
}

.menu {

    display: flex;
    padding: 24px 332px 24px 0;
    gap: 40px;
}
.menu-title {
    width: calc((100% - 80px) / 3);
}

.navi .logo .accent {
    color:#2E2F42;
}
.navi .menu{
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.navi .menu-title:hover,
.navi .menu-title:focus {
    color: #404BBF;
}
.direction {
    font-style: normal;
}
.direction .direction-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 24px;
    padding-top: 24px;
}
.direction .direction-title {
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455
}
.direction .direction-title:focus,
.direction .direction-title:hover {
    color: #404BBF
}

.section-first .container {
        display: flex;
        padding: 188px 472px 188px 472px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    background-color:#2E2F42;
}
.section-first .main-title {
    padding-bottom: 48px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}
.section-first .push {
    color: #FFFFFF;
    background-color:#4D5AE5;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
}

 .section-first .push:hover,
 .section-first .push:focus {
    background-color: #404BBF;
 }
.section-second .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;}

.section-second-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-second .section-second-list {
    display: flex;
    flex-direction: row;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 24px;
}   
.section-second-list .item {
    width: calc((100% - 72px) / 4);
}

 .section-second .mini-title {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2E2F42;
 }
.section-second .text {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-third .container {
    display: flex;
    flex-direction: column;
    background-color: #F4F4FD;
    padding: 120px 156px;
}

.section-third-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    padding-bottom: 72px;
}
.section-third .list {
    display: flex;
    gap: 24px;

}
.section-third .image {
   background-color: #FFFFFF;
   width: calc((100% - 72px) / 4);
   border-bottom-left-radius: 4px ;
   border-bottom-right-radius: 4px ;
   text-align: center;
}
.section-third .wrap {
    padding: 32px 16px;
}
.section-third .mini-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 8px;
}
.section-third .text {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-fourth {
    background-color: #FFFFFF;
}
.section-fourth .section-fourth-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42
}
.section-fourth .mini-title {
    font-weight: 500;
    color:#2e2f42 ;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}
.section-fourth .text {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.end {
    background-color: #2E2F42;
}

.end .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo .accent {
    color:#f4f4fd ;
}

.end .text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}